@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.ow_main_menu li span {
    color: #715848; /** OW_Control type:color, key:menuColor, section:2. Colors, label:4. Menu text color **/
    display: inline-block;
    font-size: 16px;
    padding: 2px 8px 6px 8px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: normal;
}

#feed {
    display: flex;
    flex-wrap: wrap;
}

#feed div {
    position: relative;
    padding: 1em;
    width: 100%;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    margin-bottom: 2em;
}

#feed div h3 {
        font-family: 'Indie Flower', cursive;
        font-size: 2em;
        display: inline-block;
        padding: 1em;
}

#feed dt {
    padding: 0.2em 1em;
    float: left;
    width: 100px;
    text-align: right;
    text-transform: uppercase;
}
 #feed dd {
     padding: 0.2em 1em;
 }


#feed dd:after {
    content: " ";
    display: table;
    clear: both;
}

#feed div.sterrenbeeld {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(232, 136, 16, 0.9);
    color: white;
    height: 1.2em;
    line-height: 1.2em;
    width: 100px;
    border-bottom-left-radius: 1em;
    text-align: right;
    padding-right: 1em;
    letter-spacing: 0.1em;
}

.messageButton {
    background-color: rgba(232, 136, 16, 0.9);
    padding: 0.6em 1.2em;
    border: none;
    text-align: center;
    margin: 1em 0  0 2em;
    cursor: pointer;
}

.messageButton:hover {
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}

.messageBox {
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 400px;
    margin-left: -400px;
    margin-top: -200px;
    background-color: white;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    visibility: hidden;
}

.messageBox div {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;

}

.closeCircle {
    cursor: pointer;
}

.closeCircle:hover {
    transform: rotate(-35deg);
}